*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: var(--bg-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

:root{
    --bg-color: darkgreen;
    --btn-hover: rgb(0, 45, 0);
    --btn-down: rgb(0, 75, 0);
}

#homeContent, 
#menuContent, 
#contactContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 55px;
}

h1:hover{
    font-size: 58px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 100px;
}

button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    background-color: var(--bg-color);
}

button:hover{
    background-color: var(--btn-hover);
    color: lightgray;
}

button:active{
    background-color: var(--btn-down);
    color: gray;
}