*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: var(--bg-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

body{
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --bg-color: darkgreen;
    --btn-hover: rgb(0, 45, 0);
    --btn-down: rgb(0, 75, 0);
}

#homeContent, 
#menuContent, 
#contactContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 55px;
}

h1:hover{
    font-size: 58px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    margin: 20px;
    align-self: flex-start;
    font-weight: normal;
}

ul{
    font-size: 25px;
    margin: 20px;
}

li{
    margin: 15px;
}

p{
    font-size: 23px;
    justify-self: flex-start;
    margin: 20px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 100px;
}

button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    background-color: var(--bg-color);
}

button:hover{
    background-color: var(--btn-hover);
    color: lightgray;
}

button:active{
    background-color: var(--btn-down);
    color: gray;
}